USE pubs

SELECT	title_id, ord_num, ord_date, qty, payterms, stor_id
FROM     sales


SELECT   au_fname, au_lname
FROM     authors


SELECT   *
FROM     employee
WHERE    lname = 'Latimer'



SELECT job_desc
FROM jobs
WHERE job_id <> 1



SELECT pub_name, state
FROM publishers 
WHERE state = 'DC' OR
state = 'MA' 



SELECT pub_name, state
FROM publishers 
WHERE state = 'DC' OR
state = 'MA' OR
state = 'CA'



SELECT pub_name, state
FROM publishers 
WHERE state IN('DC', 'MA', 'CA')



SELECT pub_name, state
FROM publishers 
WHERE state NOT IN('DC',  'MA',  'CA')


SELECT job_desc, min_lvl, max_lvl
FROM jobs
WHERE min_lvl >= 100 AND
max_lvl <= 225


SELECT job_desc, min_lvl, max_lvl
FROM jobs
WHERE min_lvl >= 100 AND
min_lvl <= 150



SELECT job_desc, min_lvl, max_lvl
FROM jobs
WHERE min_lvl BETWEEN 100 AND 150



SELECT job_desc, min_lvl, max_lvl
FROM jobs
WHERE min_lvl NOT BETWEEN 100 AND 150


SELECT   au_fname AS "First Name", au_lname AS "Last Name"
FROM     authors


SELECT   TOP 10 PERCENT au_fname AS "First Name", au_lname AS "Last Name"
FROM     authors


SELECT DISTINCT au_fname, au_lname 
FROM authors



SELECT * 
FROM Student, Phone


SELECT * 
FROM Student CROSS JOIN Phone


SELECT * 
FROM Student, Phone
WHERE rollNo = Owner



SELECT * 
FROM Student JOIN Phone ON rollNo = Owner



SELECT RollNo, Name, Make 
FROM Student, Phone
WHERE rollNo = Owner



SELECT  RollNo, Name, Make
FROM Student JOIN Phone ON rollNo = Owner


SELECT  RollNo, Name, Make
FROM Student JOIN Phone ON rollNo = RollNo


SELECT Student.RollNo, Student.Name, Phone.Make 
FROM Student, Phone
WHERE Student.rollNo = Phone.RollNo



SELECT Student.RollNo, Student.Name, Phone.Make
FROM Student JOIN Phone ON Student.rollNo = Phone.RollNo


SELECT s.RollNo, s.Name, p.Make 
FROM Student s, Phone p
WHERE s.rollNo = p.RollNo


SELECT s.RollNo, s.Name, p.Make
FROM Student s JOIN Phone p ON s.rollNo = p.RollNo


